<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="fourthapp-reactnativebridge-plugin" version="0.0.1"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Device</name>
    <description>Cordova Plugin for opening fourth app react native page</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,reactnative</keywords>
    
    <js-module name="ReactNativeAppBridge" src="www/ReactNativeAppBrige.js">
        <clobbers target="ReactNativeAppBridge" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=4.1.0"/>
    </engines>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ReactNativeAppBridge">
                <param name="android-package" value="org.apache.cordova.reactnativeappbridge.ReactNativeAppBridge" />
            </feature>
        </config-file>
        <source-file src="src/android/org/apache/cordova/reactnativeappbridge/ReactNativeAppBridge.java"
                     target-dir="src/org/apache/cordova/reactnativeappbridge"></source-file>
        <source-file src="src/android/org/apache/cordova/reactnativeappbridge/MainReactActivity.java"
                     target-dir="src/org/apache/cordova/reactnativeappbridge"></source-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">

            <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize" android:name="org.apache.cordova.reactnativeappbridge.MainReactActivity"/>
            <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        </config-file>
    </platform>
</plugin>